<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd
    	http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- где сканирование -->
    <context:component-scan base-package="org.example.spring.mvc.mvc_hibernate_aop" />

    <!-- активируем аннотации для MVC -->
    <mvc:annotation-driven/>

    <!-- префиксы для прямого обращения к view по имени -->
    <bean
            class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- связь с БД
                данный connection pull оптимизирует создание и завершение создания соединения сам, тк это ресурсоемкая задача
    -->
    <bean id="dataSource0" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass" value="com.mysql.cj.jdbc.Driver" />
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/my_db?useSSL=false&amp;serverTimezone=UTC" />
        <property name="user" value="bestuser" />
        <property name="password" value="bestuser" />
    </bean>
    <!-- нужен для получения сессий через которые и осуществляется доступ к базе -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <!-- -->
        <!-- ссылка на предыдущий биан с connection pull -->
        <property name="dataSource" ref="dataSource0" />
        <!-- пакеты для сканирования с нашими entity необходимыми для связывания таблицы с классом -->
        <property name="packagesToScan" value="org.example.spring.mvc.mvc_hibernate_aop.entity" />
        <property name="hibernateProperties">
            <props>
                <!-- какой диалект mysql мы используем в hibernate и доп настройки как то вывод логов -->
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>
    <!-- менеджер транзакций теперь при CRUD на не нужно создавать и завершать транзакции самим!! -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- тут активируем аннотации для авто управл. транзакций -->
    <tx:annotation-driven transaction-manager="transactionManager" />


</beans>





